/* About.css */

.about {
  text-align: center;
  padding: 4rem;
  margin-left: 15%; 
  margin-right: 15%; 
}


.bio {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.bio p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}
